header.app-header {
  display: flex;
  justify-content: flex-end;
  background-color: #38343a;
  color: #fff;
}

section.app-body {
  display: grid;
  max-width: 1260px;
  margin: 0 auto;
  grid-gap: 20px 20px;
  grid-template-columns: calc(25% - 20px) calc(25% - 20px) calc(25% - 20px) calc(25% - 20px);
  padding: 20px;
}